{% extends 'base.html' %}

{% block title %} Carritos {% endblock %}

{% block contenido_form %}
<h2>Formulario de carritos</h2>

<form action="" method="POST"> {% csrf_token %}
  <div class="mb-3 w-25">
    Nombre: <input type="text" name="name" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary" >Submit</button>
</form>

{% endblock %}

{% block contenido %}
<h2>Clientes</h2>

<ul>
  {% for i in carritos %}
  <li>Nombre: {{i.name}}</li>
  {% endfor %}
</ul>
{% endblock %}