{% extends 'base.html' %}

{% block title %} Clientes {% endblock %}

{% block contenido_form %}
<h2>Formulario de clientes</h2>

<form action="" method="POST"> {% csrf_token %}
  <div class="mb-3 w-25">
    Nombre: <input type="text" name="name" class="form-control">
  </div>
  <div class="mb-3 w-25">
    Apellido: <input type="text" name="lastName" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary" >Submit</button>
</form>

{% endblock %}

{% block contenido %}
<h2>Clientes</h2>

<ul>
  {% for i in clientes %}
  <li>Nombre: {{i.name}}, Apellido: {{i.lastName}}</li>
  {% endfor %}
</ul>
{% endblock %}