{% extends 'base.html' %}

{% block title %} Productos {% endblock %}

{% block contenido %}
<h2>Productos</h2>

{% if productos.len == 0 %}
<p>No hay productos</p>
{% else %}
<section class="m-4 d-flex gap-3 flex-direction-row">
  {% for i in productos %}
  <div class="border d-flex flex-column justify-content-around" style="width: 18rem;">
    <div>
      <img style="max-height: 300px;" src={{i.image}} class="card-img-top" alt="...">
    </div>
    <div class="card-body d-flex justify-content-end flex-column">
      <div class="m-3">
        <h5 class="card-title">{{i.name}}</h5>
        <h5 class="card-title">{{i.price}} $</h5>
        <a class="text-decoration-none" href="{% url 'DetalleProducto' i.id %}">Leer mas</a>
      </div>
      <a class="btn btn-primary text-light text-decoration-none" href="{% url 'EliminarProducto' i.id %}">Eliminar</a>
    </div>
  </div>
  {% endfor %}
  {% endif %}
  </section>
{% endblock %}

  {% block contenido_form %}
  <h2>Formulario de productos</h2>

  <form action="" method="POST"> {% csrf_token %}
    <div class="mb-3 w-25">
      Nombre: <input type="text" name="name" class="form-control">
    </div>
    <div class="mb-3 w-25">
      Precio: <input type="number" name="price" class="form-control">
    </div>
    <div class="mb-3 w-25">
      Descripcion: <input type="text" name="description" class="form-control">
    </div>
    <div class="mb-3 w-25">
      Imagen: <input type="text" name="image" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  {% endblock %}