{% extends 'base.html' %}

{% block title %} Productos {% endblock %}

{% block contenido %}
<h2 class="text-center m-3">Productos</h2>

<section class="m-4 d-flex gap-3 flex-direction-row justify-content-center">
  {% for i in productos %}
  <div class="border d-flex flex-column justify-content-around" style="width: 18rem;">
    <div>
      <img style="max-height: 300px;" src={{i.image}} class="card-img-top" alt="...">
    </div>
    <div class="card-body d-flex justify-content-end flex-column">
      <div class="m-3">
        <h5 class="card-title">{{i.name}}</h5>
        <h5 class="card-title">{{i.price}} $</h5>
        <a class="text-decoration-none" href="{% url 'DetalleProducto' i.id %}">Leer mas</a>
      </div>
      <a class="btn btn-primary text-light text-decoration-none" href="{% url 'EliminarProducto' i.id %}">Eliminar</a>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}

{% block contenido_form %}

<div class="m-5">
  <form class="d-flex justify-content-center flex-column border p-3 m-auto" style="width: fit-content;" action="" method="POST"> {% csrf_token %}
    <h2 class="text-center m-4">Formulario de productos</h2>
    <table>
      {{formulario.as_table}}
    </table>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
</div>

{% endblock %}